@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  box-sizing: border-box;
  background: black;
  font-family: "Rajdhani", monospace;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --clr-primary: #51b8fd;
  --clr-secondary: #1c1624;
}

#audio-play-pause-btn,
#game-play-pause-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio-play-pause-btn {
  top: 3%;
  right: 3%;
}

#game-play-pause-btn {
  top: 3%;
  left: 3%;
}

#audio-play-pause-btn:hover,
#game-play-pause-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#play-pause-img,
#audio-img {
  width: 25px;
  height: auto;
}

#survival-time {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: white
}

#game-over-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", monospace;
  z-index: 10;
  user-select: none;
  gap: 50px;
}


#game-over-overlay p {
  font-size: 1.5rem;
}

#game-over-img {
  width: 20%;
  height: auto;
}

#home {
  text-decoration: none;
}

#game-over-overlay div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#restart-btn img,
#home img {
  width: 12px;
  height: auto;
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  padding: 0.5em 2.5em;
  font: inherit;
  font-weight: 700;
  color: var(--clr-secondary);
  border: 2px solid transparent;
  background-color: var(--clr-primary);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: color 250ms, border-color 250ms, background-color 250ms,
    clip-path 500ms ease-in-out var(--delay);
}

.btn:focus,
.btn:hover {
  color: var(--clr-primary);
  border-color: var(--clr-primary);
  background-color: transparent;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  z-index: 1000;
  animation: glow fadeInOut 2s infinite;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}